# Python virtual envirements
.env
.venv

# pycache
__pycache__

# STM32CubeIDE debug configurations (user-specific)
*.launch
.metadata/
.settings/
.project
.cproject

# Build artifacts
Debug/
Release/
*.o
*.elf
*.hex
*.bin
