# Python virtual envirements
.env
.venv

# pycache
__pycache__

# zipped dataset
*.zip

# dataset in csv format
dataset-csv
PAMAP2_Dataset

# STM32CubeIDE debug configurations (user-specific)
*.launch
.metadata/
.settings/

# Build artifacts
Debug/
Release/
*.o
*.elf
*.hex
*.bin
